<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" backupStaticAttributes="false" beStrictAboutTestsThatDoNotTestAnything="true" beStrictAboutChangesToGlobalState="true" beStrictAboutOutputDuringTests="true" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" bootstrap="tests/bootstrap.php">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
    <exclude>
      <file>./src/Infrastructure/Connection.php</file>
      <directory>./src/Domain</directory>
      <directory>./src/Data</directory>
      <directory>./src/Presentation</directory>
      <directory>./src/Application/Handlers</directory>
      <directory>./src/Application/ResponseEmitter</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="All">
      <directory>./tests</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory>./tests/Integration</directory>
    </testsuite>
    <testsuite name="Unit">
      <directory>./tests/Data</directory>
      <directory>./tests/Infrastructure</directory>
      <directory>./tests/Presentation</directory>
      <!-- <directory>./tests/Main</directory> -->
    </testsuite>
  </testsuites>
  <php>
    <env name="HOST" value="sqlite:"/>
    <env name="NAME" value=":memory:"/>
    <env name="USER" value=""/>
    <env name="PASSWORD" value=""/>
    <env name="ISSUER" value="instagram.clone"/>
    <env name="SECRET" value="sec!ReT423*@"/>
  </php>
</phpunit>
